@import '~bootstrap/scss/bootstrap';

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #F7DC6F;
  color: #0B5345;
  font-family: 'Noto Sans JP', sans-serif;
}

h1 {
  padding-top: 50px;
  font-family: 'Lobster', sans-serif;
  font-style: bold;
}

h3 {
  font-family: 'Noto Sans JP', sans-serif;
  font-style: bold;
  margin-top: 10px;
}

h4 {
  font-family: 'Lobster', sans-serif;
}

h5 {
  font-family: 'Noto Sans JP', sans-serif;
}

#subtitle {
  font-family: 'Lobster', sans-serif;
}

#createShoeBtn {
  background-color: #7AD7C5;
  border-radius: 12px;
  margin-top: 10px;
}

#getShoesBtn {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #7AD7C5;
  border-radius: 12px;
}

#updateShoe {
  margin-top: 20px;
}

#updateShoeBtn {
  background-color: #7AD7C5;
  border-radius: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#deleteShoeBtn {
  background-color: #7AD7C5;
  border-radius: 12px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#shoes {
  margin-top: 20px;
  background-color: #B7FDEF;
}

#signUpBtn {
  background-color: #7AD7C5;
  border-radius: 12px;
}

#signInBtn {
  background-color: #7AD7C5;
  border-radius: 12px;
}

#changePassBtn {
  background-color: #7AD7C5;
  border-radius: 12px;
  margin-top: 10px;
}

#signOutBtn {
  background-color: #7AD7C5;
  border-radius: 12px;
}



.actionsBody {
  align-self: center;
  background-color: #D4AC0D;
  width: 500px;
  border: 4px dotted #0B5345;
}

.unauthenticated {
  padding-top: 20px;
  padding-bottom: 20px;
}

.unauthenticated2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.authenticated3 {
  padding-top: 20px;
  padding-bottom: 20px;
  display: none;
}

.authenticated4 {
  padding-top: 20px;
  padding-bottom: 20px;
  display: none;
}

.crudActions {
  display: none;
  padding-bottom: 20px;

}
